h1, p {
  font-family: Lato;
}

.MainApp{
  padding: 20px;
}

.WorkshopTitle{
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
  position:relative;
  &:after{
    content:'Playground';
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    font-size:16px
  }
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  h1 {

    flex:1 1 auto; /* Lets middle column shrink/grow to available width */
  }
  .wdclogo,.cypresslogo {
    flex:0 0 auto; /* Forces side columns to stay same width */
    width: 100px; /* Sets the width of side columns */
    img {
    max-width:100%; /* Shrinks images to fit container */
}
}
}

.imageInput {
  margin-top: 50px;
  position: relative;
  height: 100px;
  &:after {
    content: " ";
    height: 100%;
    width: 1; 
  }
  input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
  }
}
.imageContainer{
  position: relative;
  height: 300px;
  img{
    max-height: 100%;
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

